/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20;
    text-align: center;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  
  .footer-links ul,
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  
 
  .footer-links a:hover,
  .footer-social a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    padding-top: 20px;
    padding: 5px;
    font-size: 14px;
  }
  
  /* Add additional styling as needed */
  